## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vs/
**/Properties/launchSettings.json

## Node
node_modules/
dist/
*.tsbuildinfo
**/coverage/
**/lcov-report/

## IDE
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

## Secrets
appsettings.*.local.json
.env
*.secret.*

## Build
packages/
*.nupkg
